@{
    var loggedIn = DAL.Helpers.AuthenticationHelper.LoggedIn(Context);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BOM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    @*testing*@
    @*Move to styles*@
<style>
    #advertisement-section{
        width: 100vw;
    }
</style>
</head>
<body>
    <div id="notification-header" class="container-fluid text-center">
        <span class="display-1" id="notification-text" v-if="notificationText">{{notificationText}}</span>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Business Overview Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ideaboard" asp-action="Index">Ideaboard</a>
                        </li>

                    </ul>


                    @if (loggedIn)
                    {
                        <a class="nav-link text-dark text-end" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link text-dark text-end" asp-area="" asp-controller="Auth" asp-action="Index">Login</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div id="layout-top" class="p-3 bg-dark text-white">
        <h3>{{activePage}}</h3>
    </div>
    <div id="layout-content" class="content-wrapper">
        <main role="main">
            <div class="page-container">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted p-3 bg-dark" style="position: fixed; bottom: 0; left: 0; right: 0;">
        <div class="container d-flex justify-content-end text-white">
            &copy; 2022 - Business Overview Manager
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        var notifications = new Vue({
            el: "#notification-header",
            data() {
                return {
                    notificationText: null
                }
            },
            beforeMount() {
                //get notification text 
            }
        })


        var layout = new Vue({
            el: "#layout-top",
            data() {
                return {
                    activePage: null,
                }
            },
            beforeMount() {
                var activePage = window.location.pathname.replace("/", "").trim();
                activePage === "" ? activePage = "Home" : activePage;
                console.log("Mounted", activePage);
                this.activePage = activePage;
            }
        })
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
