@model DAL.BOMContext.User
@{
    ViewData["Title"] = "Ideaboard";
}

<div id="ideaboard">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex justify-content-between bg-dark text-white">
                <h2>
                    Notes
                </h2>
                <button class="btn btn-secondary" v-on:click="resetHeights">
                    Reset
                </button>
            </div>
            <div class="card-body">
                <div class="container-fluid d-flex flex-wrap">
                    <div class="note new-note">
                        <form action="/Ideaboard/Update" method="post">
                            <input class="form-control" required type="text" name="Title" placeholder="New note" />
                            <div class="textarea-wrapper" style="position: relative;" >
                                <textarea rows="4" class="form-control mt-2" placeholder="What are we up to today" name="Description">
                                </textarea>
                                <button class="create-button bg-dark" type="submit">+</button>
                            </div>
                        </form>
                    </div>
                    @foreach (var note in Model.Notes)
                    {
                        <div class="note">
                            <input class="form-control" type="text" readonly placeholder="Note title" value="@note.Title" />
                            <textarea rows="4" class="form-control mt-2" readonly placeholder="Description">@note.Description</textarea>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

@section styles{
    <style scoped>
        .note {
            position: relative;
            margin: 5px;
            padding: 5px;
            border: 1px solid #212529;
            height: fit-content;
            border-radius: 8px;
            overflow: hidden;
            background-color: #212529;
            color: white;
        }

        .new-note {
            background-color: white;
        }

        .create-button {
            font-size: 14px;
            color: white;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            border: 2px solid rgba(33,37,41, 0.9);
        }

            .create-button:hover {
                cursor: pointer;
                background-color: white;
            }
    </style>
}

@section scripts{
    <script>
        var ideaboard = new Vue({
            el: "#ideaboard",
            data() {
                return {
                }
            },
            methods: {
                resetHeights() {
                    var textareas = $("textarea");
                    $(textareas).css("height", 110);
                    console.log(textareas);
                },
            },
            beforeMount() {
            }
        });
    </script>
}