@{
    ViewData["Title"] = "Home Page";
}

<div id="home-page" class="pt-3">
    <div class="project-one">
        <h4>Project one</h4>
        <span>Description:</span>
        <p>
            First project description
        </p>
    </div>
</div>
